@model List<ATVitor.Models.Amigo>
@{
    ViewData["Title"] = "Gerenciador de aniversários";
    var listaDeAmigos = Model;
    listaDeAmigos = listaDeAmigos.OrderBy(c => c.Aniversario).ToList();
    DateTime now = DateTime.Now;
    int j = 0;
}

<div class="text-center">
    <h1 class="display-4">Gerenciamento de aniversário de amigos</h1>
    <!--<a href="/amigos/cadastrar">Cadastrar amigo</a>-->
    <div class="d-flex justify-content-center">
        <div id="add" class="mr-5">
            <h3>Aniversáriantes do dia</h3>
            @foreach(var amigo in listaDeAmigos) {
                if(amigo.Aniversario.Month == now.Month && amigo.Aniversario.Day == now.Day) {      
                    <span>@amigo.Nome | @amigo.Aniversario.Date.ToString("d")</span><br />
                    j++;
                }
            }
            @if(j == 0){
                <span>Não há aniversariantes hoje</span>
            }
        </div>
        <div id="comingnivers" class="ml-5">
            <h3>Aniversários próximos</h3>
            @for(int i = 0; i < listaDeAmigos.Count; i++) {
                <span>@listaDeAmigos[i].Nome | @listaDeAmigos[i].Aniversario.Date.ToString("d")</span><br />
                <!--<span>@listaDeAmigos[i].Nome | @listaDeAmigos[i].Aniversario.Date.Day/@listaDeAmigos[i].Aniversario.Date.Month</span><br />-->
            }
        </div>
    </div>
</div>
